[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mutagen = "*"
drf-yasg = "*"
pillow = "*"
stripe = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
